@model OnlineShop.Models.Db.Order
@{
    var products = ViewData["Products"] as List<OnlineShop.Models.ViewModels.ProductCartViewModel>;
}
<header class="header_section border-bottom">
    <div class="header_top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="header_top_inner d-flex justify-content-between align-items-center">
                        <div class="header_contact_info">
                            <ul class="d-flex">
                                <li class="text-white"> <i class="icons icon-phone"></i> <a href="tel:+05483716566">+054 8371 65 66</a></li>
                                <li class="text-white"> <i class="icon-envelope-letter icons"></i> <a href="#">uthrstore@domain.com</a></li>
                            </ul>
                        </div>
                        <div class="free_shipping_text">
                            <p class="text-white">Free shipping worldwide for orders over $99 <a href="#">Learn More</a></p>
                        </div>
                        <div class="header_top_sidebar d-flex align-items-center">
                            <div class="header_social d-flex">
                                <span>Follow us</span>
                                <ul class="d-flex">
                                    <li><a href="#"><i class="icon-social-twitter icons"></i></a></li>
                                    <li><a href="#"><i class="icon-social-facebook icons"></i></a></li>
                                    <li><a href="#"><i class="icon-social-instagram icons"></i></a></li>
                                    <li><a href="#"><i class="icon-social-youtube icons"></i></a></li>
                                    <li><a href="#"><i class="icon-social-pinterest icons"></i></a></li>
                                </ul>
                            </div>
                            <div class="language_currency">
                                <ul class="d-flex">
                                    <li class="language">
                                        <a href="#"> Eng <i class="icon-right ion-ios-arrow-down"></i></a>
                                        <ul class="dropdown_language">
                                            <li><a href="#">French</a></li>
                                            <li><a href="#">Spanish</a></li>
                                            <li><a href="#">Russian</a></li>
                                        </ul>
                                    </li>
                                    <li class="currency">
                                        <a href="#"> USd <i class="icon-right ion-ios-arrow-down"></i></a>
                                        <ul class="dropdown_currency">
                                            <li><a href="#">€ Euro</a></li>
                                            <li><a href="#">£ Pound Sterling</a></li>
                                            <li><a href="#">$ US Dollar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</header>
<!--breadcrumbs area start-->
<div class="breadcrumbs_area breadcrumbs_other">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content text-center">
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li><a href="#">pages</a></li>
                    </ul>
                    <h3>checkout</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--Checkout page section-->
<div class="checkout_section" id="accordion">
    <div class="container">
        <div class="returning_coupon_area">
            <div class="row d-flex justify-content-end">
              
                <div class="col-lg-5 col-md-6">
                    <div class="user-actions">
                        <h3>
                            <i class="fa fa-comment-o" aria-hidden="true"></i>
                            Have a Coupon ?
                            <a class="Returning" href="#" data-toggle="collapse" data-target="#checkout_coupon2" aria-expanded="true">Click here to enter your code</a>

                        </h3>
                        <div id="checkout_coupon2" class="collapse" data-parent="#accordion">
                            <div class="checkout_info coupon_info">
                                <form asp-action="ApplyCouponCode">
                                    <input placeholder="Coupon code" type="text" name="couponCode">
                                    <button class="btn btn-primary" type="submit">Apply coupon</button>
                                </form>
                                <br />
                                @if(TempData["message"]!=null)
                                {
                                    <div class="alert alert-danger" role="alert">
                                            @TempData["message"]
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form asp-action="Checkout">
            <input type="hidden" asp-for="CouponCode"/>
            <input type="hidden" asp-for="Shipping" />

             <div class="checkout_form">
            <div class="row">
                <div class="col-lg-7 col-md-6">
                   
                        <h3>Billing Details</h3>
                        <div class="checkout_form_input">
                            <label for="country">country <span>*</span></label>
                            <select class="select_option" asp-for="Country"  id="country">
                                <option value="1">Viet Nam  </option>
                                <option value="2">United Kingdom (UK)  </option>
                                <option value="3">Algeria</option>
                                <option value="4">Afghanistan</option>
                                <option value="5">Ghana</option>
                                <option value="6">Albania</option>
                                <option value="7">Bahrain</option>
                                <option value="8">Colombia</option>
                                <option value="9">Dominican Republic</option>
                            </select>
                        </div>
                        <div class="checkout_form_input">
                            <label>First Name <span>*</span></label>
                            <input type="text" asp-for="FirstName">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                      
                        <div class="checkout_form_input">
                            <label>Last Name  <span>*</span></label>
                            <input type="text" asp-for="LastName">
                            <span asp-validation-for="LastName" class="text-danger"></span>

                        </div>
                        <div class="checkout_form_input">
                            <label>Company Name</label>
                            <input type="text" asp-for="CompanyName">
                            <span asp-validation-for="CompanyName" class="text-danger"></span>

                        </div>
                        <div class="checkout_form_input">
                            <label>Address  <span>*</span></label>
                            <input type="text" asp-for="Address">
                            <span asp-validation-for="Address" class="text-danger"></span>

                        </div>
                     @*    <div class="checkout_form_input">
                            <input type="text">
                        </div> *@
                        <div class="checkout_form_input">
                            <label>Town / City <span>*</span></label>
                            <input type="text" asp-for="City">
                            <span asp-validation-for="City" class="text-danger"></span>

                        </div>
                        <div class="checkout_form_input">
                            <label> Email Address   <span>*</span></label>
                            <input type="text" asp-for="Email">
                            <span asp-validation-for="Email" class="text-danger"></span>

                        </div>
                        <div class="checkout_form_input">
                            <label> Phone <span>*</span></label>
                            <input type="text" asp-for="Phone">
                            <span asp-validation-for="Phone" class="text-danger"></span>

                        </div>
                        <div class="checkout_form_input">
                            <label> Comment <span></span></label>
                            <input type="text" asp-for="Comment">
                            <span asp-validation-for="Comment" class="text-danger"></span>

                        </div>
                  
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="order_table_right">
                        <form action="#">
                            <h3>Your order</h3>
                            <div class="order_table table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th class="text-right">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in products)
                                        {
                                            <tr>
                                                <td> @item.Title   </td>
                                                <td class="text-right"> @item.RowSumPrice.GetValueOrDefault().ToString()  </td>
                                            </tr>
                                        }
                                     
                                      
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td>Cart Subtotal  </td>
                                            <td class="text-right">@products.Sum(x => x.RowSumPrice)?.ToString()</td>
                                        </tr>
                                        <tr>
                                            <td>Shipping  </td>
                                            <td class="text-right">@Model.Shipping?.ToString()</td>
                                        </tr>
                                        @if(!string.IsNullOrEmpty(Model.CouponCode))
                                        {
                                            <tr>
                                                <td>
                                                    Discount - &nbsp; @Model.CouponCode &nbsp; &nbsp;
                                                    <a href="/cart/Checkout">
                                                        <i class="icon-android-close"></i>
                                                    </a>
                                                </td>
                                                <td class="text-right">@Model.CouponDiscount?.ToString()</td>
                                            </tr>
                                        }
                                      
                                        <tr class="order_total">
                                            <th>Order Total</th>
                                            @{
                                                var orderTotal = (products.Sum(x => x.RowSumPrice) + Model.Shipping);
                                                if(Model.CouponDiscount != null)
                                                {
                                                    orderTotal = orderTotal - Model.CouponDiscount;
                                                }
                                            }

                                            <td class="text-right">@orderTotal?.ToString()</td>
                                        </tr>
                                    </tfoot>
                                </table>
                          
                            </div>
                            <div class="place_order_btn">                               
                                <input class="btn btn-primary btn-block" type="submit" value="Palce Order"/>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        </form>
       
    </div>
</div>
<!--Checkout page section end-->
<!--newsletter section start-->
<section class="newsletter_section newsletter_padding border-top">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="newsletter_inner d-flex justify-content-between align-items-center">
                    <div class="newsletter_text">
                        <h3>keep connected</h3>
                        <p>Get updates by subscribe our weekly newsletter</p>
                    </div>
                    <div class="newsletter_subscribe">
                        <form id="mc-form">
                            <input class="border-0" id="mc-email" type="email" autocomplete="off" placeholder="Enter your email address">
                            <i class="icon-envelope-open icons"></i>
                            <button class="border-0" id="mc-submit">Subscribe</button>
                        </form>
                        <!-- mailchimp-alerts Start -->
                        <div class="mailchimp-alerts text-centre">
                            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                        </div><!-- mailchimp-alerts end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--newsletter section end-->